.leaflet-control-zoom-display {
    width: 26px;
    height: 26px;

    text-align: center;
    font: bold 12px/20px Tahoma, Verdana, sans-serif;
    padding-top: 0.3em;
    background-color: white;
}