<div class="hidden-sm hidden-xs">
    <div class="container no-pad">
        <div class="hidden-xs">
            <div class="dm-head-70pct">
                <h4 class="breadcrumb-title">Dashboard Definitions</h4>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-skinny toolbar-padding" data-ng-click="onDblClickRow()"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Dashboard</button>
            </div>

        </div>
    </div>
</div>

<br/>
<div class="container">
    <div class="col-xs-12">
        <div class="panel panel-default">


            <div class="gridStyle" ng-grid="myDashboards"></div>
        </div>
    </div>
</div>
</div>
