<div class="dashboard-container">

    <h1>
        {{model.title}}
        <span style="font-size: 16px" class="pull-right">
          <a href="" ng-if="editMode" title="add new widget" ng-click="addWidgetDialog()">
              <i class="fa fa-plus-circle"></i>
          </a>
          <a href="" ng-if="editMode" title="edit dashboard" ng-click="editDashboardDialog()">
              <i class="fa fa-cog"></i>
          </a>
          <a href="" ng-if="editMode" title="{{editMode ? 'save changes' : 'enable edit mode'}}" ng-click="toggleEditMode()">
              <i class="fa" x-ng-class="{'fa-edit' : !editMode, 'fa-save' : editMode}"></i>
          </a>
          <a data-ng-if="editMode" href="" title="undo changes" ng-click="cancelEditMode()">
              <i class="fa fa-undo"></i>
          </a>
        </span>
    </h1>

    <!--<div class="dashboard" x-ng-class="{'edit' : editMode}">-->
        <!--<div ng-repeat="row in model.rows" class="row" ng-class="row.styleClass">-->
            <!--<div ng-repeat="col in row.columns" class="column" ng-class="col.styleClass" ui-sortable="sortableOptions" ng-model="col.widgets">-->
                <!--<div class="widgets" ng-repeat="definition in col.widgets">-->
                    <!--<adf-widget definition="definition" column="col" edit-mode="{{editMode}}" pop-mode="{{popMode}}" collapsible="collapsible" />-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div gridster="gridsterOptions">-->
        <!--<ul>-->
            <!--<li gridster-item="widget" ng-repeat="widget in dashboardz.widgets">-->
                <!--<div class="box" >-->
                    <!--<div class="box-header">-->
                        <!--<h3>{{ widget.name }}</h3>-->
                        <!--<div class="box-header-btns pull-right">-->
                            <!--<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>-->
                            <!--<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="box-content">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div gridster="gridsterOptions">
        <ul>
            <li gridster-item="widget.config" class="box" ng-repeat="widget in model.widgets">
                    <adf-widget definition="widget"  edit-mode="{{editMode}}" pop-mode="{{popMode}}" collapsible="collapsible" />
            </li>
        </ul>
    </div>

</div>