<div class="modal-header">
    <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Edit Dashboard</h4>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="dashboardTitle">Title</label>
            <input type="text" class="form-control" name="dashboardTitle" ng-model="model.title" required="true">
        </div>
        <div class="form-group">
            <label for="dashboardId">Id</label>
            <input type="text" class="form-control" name="dashboardId" ng-model="model.id" required="true">
        </div>
        <div class="form-group">
            <label for="dashboardMarginLeft">Margin Left</label>
            <input type="text" class="form-control" name="name" ng-model="model.dashboardMarginLeft" required="true">
        </div>
        <div class="form-group">
            <label for="dashboardMarginRight">Margin Right</label>
            <input type="text" class="form-control" name="dashboardMarginRight" ng-model="model.dashboardMarginRight" required="true">
        </div>
        <div class="form-group">
            <label for="dashboardColumns">Columns</label>
            <input type="text" class="form-control" name="dashboardColumns" ng-model="model.dashboardColumns" required="true">
        </div>
        <div class="form-group">
            <label for="dashboardRows">Rows</label>
            <input type="text" class="form-control" name="dashboardRows" ng-model="model.dashboardRows" required="true">
        </div>
        <div class="form-group">
            <label for="dashboardRowHeight">Row Height</label>
            <input type="text" class="form-control" name="dashboardRows" ng-model="model.dashboardRowHeight" required="true">
        </div>
        <div class="form-group">
        <label>Dashboard Type</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="popup" ng-model="model.type" ng-true-value="'popup'" ng-false-value="'dashboard'">
                dynamic modal style?
            </label>
        </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="closeDialog()">Close</button>
</div>