

    <div class="modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">×</button>
                <h3 class="modal-title">{{widget.title}}</h3>
            </div>
            <div class="modal-body">
                <adf-widget-content model="definition" content="widget" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " ng-click="closeDialog()">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-lg -->
